@CHARSET "UTF-8";
#left {
	width: 20%;
	height: 100%;
	float: left;
}

#right {
	width: 80%;
	height: 100%;
	overflow: auto;
}
#bottom{
    width:600px;
    height:30px;
    border:1px;
    left:200px;
    position:fixed;
    bottom:0;
    background: red;
}