@CHARSET "UTF-8";

table.shoplist{
	width:85%;
    margin-left:35px;
	
}

table.shoplist td{
	float:left;
	margin-left:45px;
	margin-top:5px;
}

table.shoplist img{
	width:200px;
	height:200px;
}

div.goods{
	border:1px;
	border-color:#F40;
}
a.button{
	color:white;
	float:right;
	text-decoration: none;
	padding:2px 5px;
	background: rgba(255, 35, 0, 0.85);
}
span.price{
	
	margin-left:10px;
}
span.price font{
	color:#F40;
	font-size:21px;
}
span.stock{
	float:right;
	margin-right:10px;
}
span.stock font{
	color:rgba(93, 88, 88, 0.85);
}
a.page{
	color:white;
	text-decoration: none;
	padding:5px 12px;
	background:rgba(255, 35, 0, 0.85);
	float:left;
	margin-left:5px;
}
a.page1{
	color:black;
	text-decoration: none;
	padding:5px 12px;
	background:#c1c1c1;
	float:left;
	margin-left:5px;
}
a.page1:hover{
	color:black;
	text-decoration: none;
	padding:5px 12px;
	background:white;
	float:left;
	margin-left:5px;
}
div.bottom{
	width:40%;
	height:80px;
	margin-top:20px;
	margin-left:55%;
	vertical-align:bottom;	
}
div.pageshow{
	margin-left:20px;
	padding-top:8px;
	color:#8b8b8b;
	float:left;
	vertical-align:bottom;
}