@CHARSET "UTF-8";


div.top_bar{
	margin:0px;
	border:0px;
	padding:0px;
	width:100%;
	height:20px;
    background-color:rgba(192, 192, 192, 0.34);
}

div.top_bar_left{
	margin-left:15%;
	float:left;
	height:30px;
}

div.top_bar_right{
	
	margin-right:10%;
	float:right;
	height:30px;
}
a.top:link{  
	text-decoration: none;
	padding:12px 12px;
}
a.top:hover{
	text-decoration: none;
	padding:12px 12px;
	background-color:white;
}